table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background: #ecf3eb;
}

caption h3 {}

th,
td {
    border: 1px solid #999;
}

th {
    padding: 8px 0;
    background: #0cf;
}

td {
    padding: 4px 8px;
}